<section id="about" class="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Chi Siamo</h2>
				<p class="lead">
					<strong>OrangeDotNet</strong> è uno User Group tecnologico orientato al mondo Microsoft, che dal 2012 si è costituito
					anche come <a href="http://www.orangedotnet.org/Home/Statuto" target="_blank">associazione.</a>
				</p>
				<p class="lead">
					Il suo principale scopo è quello di condividere conoscenza e interessi, attraverso eventi live e contenuti online come articoli,
					webcast, etc..
				</p>
				<p class="lead">
					OrangeDotNet è una realtà aperta sia a giovani che si avvicinano per la prima volta allo sviluppo software, sia ad affermati
					professionisti del settore ICT.
				</p>
				<p class="lead">
					Nella promozione e nella realizzazione dei propri eventi, collabora da sempre con importanti realtà professionali e culturali
					presenti nel territorio siciliano, oltre a favorire il contatto tra studenti degli atenei siciliani e aziende del settore
					ICT che operano in tutta Italia.
				</p>
			</div>
		</div>
	</div>
</section>