<section id="event" class="event">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Cos'è EtnaDev.NET</h2>
				<p class="lead">
					<strong>EtnaDev.NET</strong> è un evento tecnico multi-track unico nel suo genere per il Sud Italia. L’evento avrà come
					location il <a href="http://www.ing.unict.it/" target="_blank">Dipartimento di Ingegneria Elettrica Elettronica e Informatica dell’Università di Catania</a>.
				</p>
				<p class="lead">
					Tutti gli appassionati di tecnologia potranno assistere a presentazioni ad elevato contenuto tecnico proposte da affermati
					<a href="https://mvp.microsoft.com/" target="_blank">MVP</a> di tutta Italia
				</p>
				<p class="lead">
					La scelta degli speaker avverrà dopo un attenta selezione delle proposte inviate tramite una Call For Paper disponibile a
					breve in questo sito.
				</p>
				<p class="lead">
					Vista inoltre l’attenzione che Microsoft rivolge agli studenti attraverso il programma <a href="https://msdn.microsoft.com/en-us/microsoftstudentpartners.aspx"
						target="_blank">MSP</a>, tra gli speaker saranno invitati a partecipare i Microsoft Student Partner di tutti gli atenei
					italiani, sempre attraverso il meccanismo della Call For Paper.
				</p>
				<p class="lead">A breve sarà online l’agenda, dove non mancheranno tematiche legate allo sviluppo per il Cloud, IoT, web e mobile.</p>
				<p class="lead"><strong>Stay Tuned!</strong></p>
			</div>
		</div>
	</div>
</section>